.tag-list-container {
  padding: 24px;
  background-color: var(--semi-color-bg-0);
  min-height: 100%;
}

.tag-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

